# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# ROS
*.bag

# IDE
.idea/
.vscode/
*.lnk

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.txt

# Archives
*.tar.gz
*.zip

# Temporary
*~
*.swp
